@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav {
    @apply fixed top-0 right-[-100%] transition-[right] ease-in duration-500 h-full w-3/5 pt-40 flex flex-col items-center gap-10 bg-green-dark text-xl md:text-2xl text-gray-dark;
  }
}
@layer utilities {
  .active {
    right: 0;
  }
}
