@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav {
    @apply fixed top-0 right-[-100%] transition-[right] ease-in duration-500 h-full w-3/5 pt-40 flex flex-col items-center gap-10 bg-green-dark text-xl md:text-2xl text-gray-dark;
  }

  .btn {
    @apply text-white py-2 px-4 bg-gray-dark rounded-md w-fit;
  }

  .section-padding {
    @apply pt-24 pb-4;
  }

  .product-card {
    @apply bg-white w-72 p-4 rounded-md grid gap-4;
  }

  .img-bg {
    @apply min-h-screen bg-center bg-contain bg-no-repeat bg-gray-dark bg-blend-multiply;
  }
}
@layer utilities {
  .active {
    right: 0;
  }
}
